## Pyhton Revision

# Topics

Variables

Data Types

Input / Output

# Questions

1) Swap two numbers without using 3rd variable

In [1]:
a = 10 
b = 20
a,b = b,a

# This script swaps the values of a and b 
print("a =", a)
print("b =", b)

a = 20
b = 10

2) Take two integers as a inputs & print their sum

In [8]:
num_1 = int(input("Enter first number:"))
num_2 = int(input("Enter second number:"))

# This script takes two integers as input and prints their sum
sum_result = num_1 + num_2
print("The sum of", num_1, "and", num_2, "is:", sum_result)

The sum of 60 and 30 is: 90

3) Check & print the data type of following

In [9]:
a = 10
b = 3.14 
c = "Hello"
d = True 
e = [1, 2, 3]
print("Data type of a:", type(a))
print("Data type of a:", type(b))
print("Data type of a:", type(c))
print("Data type of a:", type(d))
print("Data type of a:", type(e))

Data type of a: <class 'int'>
Data type of a: <class 'float'>
Data type of a: <class 'str'>
Data type of a: <class 'bool'>
Data type of a: <class 'list'>

## DSA

# Array

1) What is Array?

An array is a collection of elements store in fixed sequance. All elements are usually of the same data type and are store in contiguous memory location.

# In PYTHON Array = List

1) Create a list of fiest 10 natural numbers

In [10]:
natural_numbers = [i for i in range(1, 11)]
print("List of frst 10 natural numbers:", natural_numbers)

List of frst 10 natural numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2) Find a maximum & minimum number in list

In [12]:
list1= [1, 2, 9, 4, 5]
max_num = list1[0]
min_num = list1[0]

for i in list1:
  if i > max_num:
    max_num = i
  else:
    min_num = i

print("Maximum number :", max_num)
print("Minimum number :", min_num)

Maximum number : 9
Minimum number : 5

3) WAP to reverse a list manually (without reverse() and slicing())

In [29]:
li = [ 1, 2, "three", 4, 5]

reverse_list = []

for i in range(1,len(li)+1):
  reverse_list.append(li[-i])
print(reverse_list)

[5, 4, 'three', 2, 1]

4) Count how many times the number 3 appears in list

In [ ]:
li = [1,3,5,3,3,7,3,9]

count = 0 

for i in li:
  if i == 3:
    count += 1
print("In given list 3 are appearse",count, "times.")

In given list 3 are appearse in 4 times.