## Loops + if/else

1) WAP to check given number is even or odd

In [2]:
num =  int(input("Enter a number :"))

if num % 2 == 0:
  print(f"{num} is  a enven number...")

else:
  print(f"{num} is a odd number...")

24 is  a enven number...

2) WAP to print Multiples of 3
 
print all number between 1 & 30 that are divisible by 3.

In [5]:
multiple = []
for i in range(1, 31):
  if i % 3 == 0:
    multiple.append(i)

print(multiple)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

3) Sum of N natural numbers

In [7]:
n = int(input("Enter a N number:"))
sum = 0
for i in range(1,n+1):
  sum += i

print(f"The sum of {n} natural numbers : {sum}")

The sum of 6 natural numbers : 21

4) Factorial using loop

In [8]:
n =  int(input("Enter a number:"))

fact = 1

for i in range(1 , n+1):
  fact *= i

print(f"The factorial of {n} is : {fact}")

The factorial of 5 is : 120

5) Pattern printing

In [ ]:
"""
*
**
***
****
*****
"""
for i in range(1, 6):
  print(i*"*")

*
**
***
****
*****

In [18]:
"""
# # # #
# # # #
# # # #
# # # #
"""
row = 4 
col = 4 

for i in range(1, row+1):
  print(col * "# ")

# # # #
# # # #
# # # #
# # # #

In [27]:
for i in range(5,0,-1):
  print(i*"* ")

* * * * *
* * * *
* * *
* *
*

In [33]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j , end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,6):
  print("*" * (5 -i))

* * * *
* * *
* *
*

In [45]:
row = 4

for i in range(1, row+1):
  spaces = " " * (row - i)
  starts = "*" * (2 * i - 1)
  print(spaces + starts)

   *
  ***
 *****
*******

## Array

Given a list of integers, write a function to find the second largest unique number in the list without using sort() or max().

In [ ]:
nums = [10, 5, 20, 8, 20, 5]
sorted_list = set(nums)

first = second = float("-inf")
for i in sorted_list:
  if i > first:
    second = first
    first = i
  elif i > second:
    second = i

print(second)

-inf
8
10
10